<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>

        {% if settings.favicon %}
            <link rel="icon" href="{{ settings.favicon | img_url: '32x32' }}" sizes="32x32" type="image/png" />
            <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}" />
        {% else %}
            <link rel="icon" href="{{ 'favicon.ico' | asset_url }}" />
        {% endif %}

        {{ 'theme.css' | asset_url | stylesheet_tag }}
        {% style %}
          {{ settings.heading_font | font_face: font_display: 'swap' }}
          {{ settings.body_font | font_face: font_display: 'swap' }}

            :root {
                --font-heading--family: {{ settings.heading_font.family | default: 'inherit' }};
                --font-body--family: {{ settings.body_font.family | default: 'inherit' }};
            }
        {% endstyle %}

        {{ content_for_header }}
    </head>
    <body>
        {% sections 'header-group' %}
        {{ content_for_layout }}
        {% comment %} {{ 'theme.js' | asset_url | script_tag }} {% endcomment %}
        {% comment %} {{ content_for_footer }} {% endcomment %}
    </body>
</html>